@import "header";
@import "footer";

$h1-size: 2em;
$h2-size: 1.5em;
$h3-size: 1.17em;
$h4-size: 1.12em;
$h5-size: .83em;
$h6-size: .75em;


$min-background-color: rgb(238, 222, 222);

h1{ font-size: $h1-size}
h2{ font-size: $h2-size}

body{
    background-color: $min-background-color;
}

background-color{
    background-color: #e2f092;
}




//   index
.card-width{
    width: 60em;
    
    } 


    .t{
        border: 2px solid red;
    }