
<section class="d-flex flex-column align-items-center background-color">


  <% page.posts.each(function (post) { %>
  
  <div id="d-article" class="card card-width">
    <article class="card-body">
      <div class="card-title">
        <a class="card-link" href="<%- url_for(post.path) %>">
          <%= post.title %>
        </a>
      </div>

      <div class="card-text">
        <%- post.more %>
      </div>

      <div class="card-text">
        <%- date(post.date, "YYYY-MM-DD") %>
      </div>

    </article>

    </div>
    <% }) %>
</section>

