.logo {
  margin-left: 14em; }

header {
  background-color: rgba(10, 10, 27, 0.815);
  height: 5em; }
  header nav {
    margin-right: 14em; }

footer {
  height: 8em;
  background-color: rgba(10, 10, 27, 0.815); }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

body {
  background-color: #eedede; }

background-color {
  background-color: #e2f092; }

.card-width {
  width: 60em; }

.t {
  border: 2px solid red; }
