.logo {
  margin-left: 14em; }

header {
  background-color: rgba(10, 10, 27, 0.815);
  height: 5em; }
  header nav {
    margin-right: 14em; }

footer {
  height: 8em;
  background-color: rgba(10, 10, 27, 0.815); }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

.article {
  background: #eeeeee;
  margin-bottom: 0em; }

background-color {
  background-color: #e2f092; }

.card-width {
  width: 60em; }

.t {
  border: 2px solid red; }

#d-article {
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19); }
