<footer class="d-flex justify-content-around align-items-center text-white">
 
<div></div>

     
      <div>
      &copy;
      <%= date(new Date(), 'YYYY') %>
        <%= config.author %>
      </div>


<div class="">
  <div class="">
      Powered by
      <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>

 
 <div class="">
    Theme -
    <a href="git@github.com:evle/min.git" target="_blank">Min</a>
 </div>
 
 </div>

</footer>