<footer>

  <div class="justify-content-center">
    &copy;
    <%= date(new Date(), 'YYYY') %>
      <%= config.author %>
        <br> Powered by
        <a href="http://hexo.io/" target="_blank">Hexo</a>
        Theme -
        <a href="git@github.com:evle/min.git" target="_blank">Min</a>
  </div>

</footer>